/*
 * This is a manifest file that'll be compiled into application.css, which will include all the files
 * listed below.
 *
 * Any CSS and SCSS file within this directory, lib/assets/stylesheets, vendor/assets/stylesheets,
 * or vendor/assets/stylesheets of plugins, if any, can be referenced here using a relative path.
 *
 * You're free to add application-wide styles to this file and they'll appear at the bottom of the
 * compiled file so the styles you add here take precedence over styles defined in any styles
 * defined in the other CSS/SCSS files in this directory. It is generally better to create a new
 * file per style scope.
 *
//= require bootstrap/bootstrap
//= require keen-dashboards/keen-dashboards
//= require alchemy.js/vendor
//= require alchemy.js/alchemy
 *= require_self
 */

@-webkit-keyframes play {
   from { background-position: 0     0px; }
     to { background-position: 0 -2090px; }
}


.spinner-container {
  display: none;
  position: absolute;
  width: 100%;
  height: 100%;
  top: 0;
  background-color: #FFF;
  opacity: 0.8;
}

.spinner {
    background-position: center center;
    background-repeat: no-repeat;
    border-radius: 50%; /* Rounds out the halo */
    opacity: .7; /* Some subtle opacity to help blend with variable background colors */

    position: absolute;
    top: 200px;
    margin-left: -55px;
    left: 50%;
    height: 110px; width: 110px; /* Pixel size of the GIF you download */
    background-image: image-url('spinner.png');

    -webkit-animation: play .8s steps(19) infinite;
}
